
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Message</h3>
<p> <h5>Vizyonumuz</h5>

Şifa Ecza Deposu'nun vizyonu, insan sağlığının esas olduğu bir sektörde faaliyet gösteren bir kuruluş olarak; ulusal ve uluslararası 
alanda yerli, yabancı müşterilerine, dünya standartlarında, çağın gereklilikleri doğrultusunda hizmet vermek, hizmet kalitesini
çeşitlendirmek, geliştirmek ve insan sağlığı odaklı bir sektörün tüm dinamiklerini değerlendirerek yine insan sağlığı için üzerine
düşenden de fazlasını yerine getirmektir.
<h5>Misyonumuz</h5>
Şifa Ecza Deposu'nun misyonu, bulunduğu sektörün dinamiklerini en iyi şekilde analiz ederek sektördeki öncü konumunu korumak, ilaca
erişim açısından eczaneler ile ilaç tedarikçileri arasında yer alan, kaliteli hizmet veren, güvenilir kurum kimliğini korumak, müşterilerinin
 ihtiyaç, talep ve beklentilerini en fazla ürün çeşidi, en son teknoloji imkanları ile "İyi Dağıtım Metodu" ilkeleri doğrultusunda, en uygun
 ticari koşullar altında karşılamaktır.</p>